.top
  グループを作成しました
.left-header
  .username username
.leftblock
  .leftblock__first
    .groupname groupname
    .latest latest
  .leftblock__second
    .groupname groupname
    .latest latest
  .leftblock__third
    .groupname groupname
    .latest latest
